.dropbtn {
    background-color:#008080;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00FFFF;
    min-width: 160px;
    box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #00FFFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #008080;}

body {
    background-color: #E0FFFF;
}
.outset {border-style: ridge;
border-color: #00ced1}

p.first {
    text-align: center;
    margin: auto;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: lightblue;
    padding: 10px;
    width:60%;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}
.button {
    background-color: #20B2AA; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1:hover{
	background-color: #008080;
	color:white;
	 border: 2px solid #555555;
	font-size: 18px;
	border-radius: 50%;
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
img {
    z-index: 15;
}

.multiselect-wrapper {
  document.multiselect('#testSelect1');

}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
